*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width:100%;
  height:100vh;
  background-color: grey;
}
main{
  display:flex;
  height:calc(100% - 100px); /* misura del footer */
}
.main-nav{
  width:200px;
  height: 100%;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.playlist{
  flex-grow: 2;
  min-height: 200px;
  overflow-y: scroll;
}
/* da cancellare */
.blu{
  background-color:blue;
}
.lightblue{
  background-color: lightblue;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
/* /da cancellare */
.main-content{
  width: calc(100% - 200px);
  height: 100%;
  background-color:rgb(55, 55, 55);
  overflow-y:scroll;
}
.main-content .nav-fix{
  width: calc(100% - 200px); /* misura del main-nav */
  height:100px;
  background-color:rgba(0, 0, 0, 0.37);
  margin-left: 200px; /* misura del main-nav */
  position:fixed;
  top:0;
  right:0;
  line-height:100px;
  text-align: right;
}
.nav-fix .btn{
  padding:5px 10px;
  border:1px solid white;
  border-radius: 15px;
  margin-right: 20px;

}
a.btn{
  font-size: 10px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}
.testo{
  padding-top:100px;
}

footer{
  width:100%;
  height: 100px;
  background-color: darkgrey;
  position: fixed;
  left:0;
  bottom:0;
}

@media screen and {max-width:

}
