*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width:100%;
  height:100vh;
  background-color: grey;
}
/* riutilizzabili */
.mr-20{
  margin-right: 20px;
}
.ml-30{
  margin-left:30px;
}
.ml-10{
  margin-left:10px;
}
.ml-15{
  margin-left:15px;
}
.mt-5{
  margin-top:-5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom:20px;
}
.pb-10{
  padding-bottom:10px;
}
.pr-30{
  padding-right:30px;
}
.color-white{
  color:white;
}
.color-lightgrey{
  color:lightgrey;
}
.font-size-15{
  font-size: 15px;
}
.font-size-10{
  font-size: 10px;
}
/* /riutilizzabili */
main{
  display:flex;
  height:calc(100% - 80px); /* misura del footer */
}
/* main nav logo */
.main-nav{
  width:200px;
  height: 100%;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-self: center;
}
.logo{
  width:50%;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
/* inizio sezione top del main nav */
#top{
  padding-bottom: 10px;
}
#top img{
  width:10%;
}
#top a{
  font-size: 20px;
}
/* fine sezione top del main nav */

/* sezione playlist */
#playlist{
  min-height: 200px;
  overflow:hidden;
  flex-grow:3;
}
#playlist h3{
  text-transform:uppercase;
  font-size: 10px;
  color:white;
  margin-bottom: 10px;
}

#playlist ul li{
  padding-top:10px;
}
.scroll{
  height: 100%;
  overflow-y:auto ;
}
.plus .fas{
  font-size: 20px;
  color:grey;
  background-color:transparent;
  text-decoration: none;
}

/* fine sezione playlist del main nav */

/* inizio sezione installa app */
#installa-app a{
  font-size: 10px;
  margin-bottom: 5px;
}
#installa-app hr{
  margin-right: 15px;
  margin-top:10px;
  margin-bottom: 10px;
}
.plus-installa .fas{
  font-size: 10px;
  color:grey;
  background-color:transparent;
  text-decoration: none;
}
#installa-app p{
  font-size: 10px;
  color:white;
  font-weight: bold;
}

.profile-johndoe img{
  width: 10%;
  border-radius: 50%;
  padding: 5px;
  background-color:grey;
}
/* fine sezione installa app */
/* /main nav */


/* main content - nav fix */
.main-content{
  width: calc(100% - 200px);
  height: 100%;
  background-color:rgb(41, 40, 54);
  overflow-y:scroll;
}
.main-content .nav-fix{
  width: calc(100% - 200px); /* misura del main-nav */
  height:100px;
  background-color:rgba(0, 0, 0, 0.37);
  margin-left: 200px; /* misura del main-nav */
  position:fixed;
  top:0;
  right:0;
  line-height:100px;
  text-align: right;
  z-index: 1;
}
.nav-fix .btn{
  padding:5px 10px;
  border:1px solid white;
  border-radius: 15px;
  margin-right: 20px;

}
a.btn{
  font-size: 10px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-main-content{
  display: flex;
  flex-direction: row;
  justify-content:center;

}
.nav-main-content span{
  margin-top:150px;
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 10px;
  color:white;
}
/* fine nav main content */

.title-main-content{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  color:white;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom:15px;
}
/* copertine main content */
#album{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
.immagine img{
  width: 100%;
}
.immagine{
  padding-left:10px;
  text-align: center;
  width:calc(100% / 6 - 2px);
}
.immagine h4{
  font-size: 15px;
  color:white;
}
.immagine  p{
  font-size: 10px;
  padding-top: 10px;
  padding-bottom:20px;
  color:lightgrey;
}
#album-john{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

/* #album-john .immagini{
  margin-right:-200px;
} */
#album-john h4{
  font-size: 15px;
  text-align: center;
}
#album-popolari{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
#album-popolari img{

  border-radius: 50%;
}

/* /copertine main content */

footer{
  width:100%;
  height: 80px;
  background-color:rgb(45, 45, 45);
  position: fixed;
  left:0;
  bottom:0;
}
.footer-contained{
  height: 100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.sinister{
  width:calc(100 / 3);
  margin-left:10px;
}
.sinister img{
  width:5%;

}
.sinister .far{
  padding-right:10px;
}
.footer-contained .far{
    font-size:15px;
    color:lightgrey;
    background-color:transparent;
    text-decoration: none;
}
.footer-contained .fas{
    font-size:15px;
    color:white;
    background-color:transparent;
    text-decoration: none;
}
.play{
  width:calc(100% / 3);
  text-align: center;
}
.pulsanti-slider .fas{
  padding-right: 10px;
}
.pulsanti-volume{
  width:calc(100% / 3);
  text-align: right;
  margin-right: 10px;
}
.pulsanti-volume .fas{
  padding-right:15px;
}
/* .push-play{
  justify-content:flex-end;

} */
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition:opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  background: #4CAF50;
  cursor: pointer;
}

@media screen and (max-width:768px){
  .album{
    flex-wrap: wrap;
  }
  .immagine{
    width:calc(100% / 3)
  }
}
