*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width:100%;
  height:100vh;
  background-color: grey;
}
a {
  color: lightgrey;
  text-decoration: none;
}
a:hover,
a:focus {
  color:white;
}
/* riutilizzabili */
.mr-20{
  margin-right: 20px;
}
.ml-30{
  margin-left:30px;
}
.ml-10{
  margin-left:10px;
}
.ml-15{
  margin-left:15px;
}
.mt-5{
  margin-top:-5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom:20px;
}
.pb-10{
  padding-bottom:10px;
}
.pr-30{
  padding-right:30px;
}
.color-white{
  color:white;
}
.color-grey{
  color:grey;
}
.color-lightgrey{
  color:lightgrey;
}
.font-size-15{
  font-size: 15px;
}
.font-size-10{
  font-size: 10px;
}

/* /riutilizzabili */
main{
  display:flex;
  height:calc(100% - 80px); /* misura del footer */
}
/* main nav logo */
.main-nav{
  width:200px;
  height: 100%;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-self: center;
}
.main-nav .logo{
  width:50%;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.main-nav .logo-mobile{
  display:none;
}
/* top main nav */
#top {
  line-height:25px;
}
#top a:hover img{
  opacity:1;
}
#top a:hover span{
  opacity:1;
}
#top{
  padding-bottom: 10px;
}
#top img{
  width:10%;
  vertical-align: middle;
  opacity: 0.6;
}
#top a{
  text-decoration:none;
}
/* fine sezione top del main nav */

/* sezione playlist */
#playlist{
  min-height: 200px;
  overflow:hidden;
  flex-grow:3;
}
#playlist h3{
  text-transform:uppercase;
  font-size: 10px;
  color:white;
  margin-bottom: 10px;
}
#playlist a{
  text-decoration: none;
  color:grey;
  font-size: 10px;
}
#playlist a:hover{
  color:white;
}
#playlist .fas:hover{
  color:white;
}
#playlist ul li{
  padding-top:10px;
}
.scroll{
  height: 100%;
  overflow-y:auto ;
}
.plus .fas{
  font-size: 20px;
  color:grey;
  background-color:transparent;
  text-decoration: none;
}

/* fine sezione playlist del main nav */

/* inizio sezione installa app */
#installa-app .app-download img {
  width: 20px;
  vertical-align: middle;
}
.app-download{
  margin-left:25px;
    padding-top:10px;
}
#installa-app a{
  font-size: 10px;
}
#installa-app hr{
  margin-right: 25px;
  margin-left: 25px;
  margin-top:10px;
  margin-bottom: 10px;
}
#installa-app p{
  font-size: 10px;
  color:white;
  font-weight: bold;
}

.profile-johndoe img{
  width: 10%;
  border-radius: 50%;
  margin-right:10px;
  margin-left:25px;
  background-color:grey;
  overflow: hidden;
}
.profile-johndoe {
  display:flex;
  align-items: center;
  padding-bottom: 10px;

}
/* fine sezione installa app */
/* /main nav */


/* main content - nav fix */
.main-content{
  width: calc(100% - 200px);
  height: 100%;
  background-color:rgb(41, 40, 54);
  overflow-y:scroll;
}
.main-content .nav-fix{
  width: calc(100% - 200px); /* misura del main-nav */
  height:100px;
  background-color:rgba(0, 0, 0, 0.37);
  margin-left: 200px; /* misura del main-nav */
  position:fixed;
  top:0;
  right:0;
  line-height:100px;
  text-align: right;
  z-index: 1;
}
.nav-fix .btn{
  padding:5px 10px;
  border:1px solid white;
  border-radius: 15px;
  margin-right: 20px;

}
a.btn{
  font-size: 10px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .2s;
}
a.btn:hover
a.btn:active
a.btn:focus{
  font-size: 50px;
}

.nav-main-content{
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.nav-main-content a{
  margin-top:150px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding-right: 10px;
  font-size: 10px;
  color:grey;
}
.nav-main-content a:hover{
  color: white;
}

/* fine nav main content */

.title-main-content{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  color:white;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom:15px;
}
/* copertine main content */
#album{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
.immagine img{
  width: 100%;
}
.immagine{
  padding-left:10px;
  text-align: center;
  width:calc(100% / 6 - 2px);
  position:relative;
}
.immagine:hover img{
  width:100%;
  opacity: 0.3;
  /* position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* .hover:hover .fas{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.hover .fas{
  color:lightgrey;
  font-size: 30px;
}
.immagine h4{
  font-size: 15px;
  color:white;
}
.immagine  p{
  font-size: 10px;
  padding-top: 10px;
  padding-bottom:20px;
  color:lightgrey;
}
#album-john{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

/* #album-john .immagini{
  margin-right:-200px;
} */
#album-john h4{
  font-size: 15px;
  text-align: center;
}
#album-popolari{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
#album-popolari img{

  border-radius: 50%;
}

/* /copertine main content */

footer{
  width:100%;
  height: 80px;
  background-color:rgb(45, 45, 45);
  position: fixed;
  left:0;
  bottom:0;
}
#footer-contained{
  width:100%;
  height: 100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}
#footer-contained .far{
    font-size:15px;
    color:lightgrey;
    background-color:transparent;
    text-decoration: none;
}
#footer-contained .far:hover{
  color:white;
}
#footer-contained .fas{
    font-size:15px;
    color:white;
    background-color:transparent;
    text-decoration: none;
}
.left{
  width:200px;
  height:100%;
  padding:10px;
}
.center{
  width:10%;
  height:100%;
  text-align: center;
  flex-grow: 2;
}
.right{
  width:200px;
  height:100%;
  text-align: right;
  margin-right:10px;
}
.left img{
  width:5%;
}
.left a{
  padding-right:10px;
  color:black;
}

.center .fas{
  padding-right: 10px;
}
.right .fas{
  padding-right:15px;
}

/* slider */
.slider:hover{
  opacity:1;
}
.slider-center {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-center::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height:5px;
  background:grey;
  cursor: pointer;
}
.slider-right {
  -webkit-appearance: none;
  width: 30%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-right::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height:5px;
  background:grey;
  cursor: pointer;
}
/* input[type='range']::-webkit-slider-runnable-track {

  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 5px;
  cursor: ew-resize;
  background: grey;
  box-shadow: -10px 0 0 10px #43e5f7;
} */





/* versione s tablet */
@media screen and (max-width:768px){
  #album{
    flex-wrap: wrap;
  }
  .immagine{
    width:calc(100% / 4 - 2px)
  }
}

/* versione xs cellulare*/
@media screen and (max-width: 480px){
  .main-nav {
    width: 50px;
  }
  .main-content{
    width: calc(100% - 50px);
  }
  .main-content .nav-fix {
    width: calc(100% - 50px);
    }
  .main-nav .logo,
  .main-nav #playlist,
  .main-nav #top span,
  .main-nav #installa-app .app-download span,
  main-nav #installa-app .profile-johndoe p {
    display: none;
  }
  .main-nav .logo-mobile {
    display: block;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 5px;
  }
  .main-nav #installa-app{
    background-color: red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .main-nav #installa-app .app-download img{
    width: 100%;
  }
  .main-nav #installa-app .profile-johndoe img{
    width:100%;
  }
  .main-nav #installa-app .app-download,
  .main-nav #installa-app .profile-johndoe{
    margin-left:0;
  }
}
